* {
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html {
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #333;
    word-wrap: break-word;
    vertical-align: baseline;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

body {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    background: none;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    font-size: inherit;
}
.container > .inner {
    max-width: 1150px;
    margin: auto;
    width: 100%;
    padding: 0 0.5rem;
}
html[data-page^="article/"] .container > .inner {
    max-width: 980px;
}

@media screen and (min-width: 641px) {
    .main-col {
        width: calc(72% - 0.7 * 1.5rem);
        float: left;
    }
    .right-col {
        width: calc(28% - 0.3 * 1.5rem);
        float: right;
    }
}

@media screen and (max-width: 640px) {

}

.clr:after {
    content: "";
    clear: both;
    display: block;
    height: 0;
    padding: 0;
}

/** ICON */
.icon {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
}
span.icon,
i.icon {
    display: inline-block;
}
i.icon {
    vertical-align: middle;
}
.facebook-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 49.652 49.652" fill="%23999">\
    <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56L31 25.7z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.instagram-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 49.652 49.652" fill="%23999">\
    <path d="M24.825 29.796a4.978 4.978 0 0 0 4.972-4.97 4.954 4.954 0 0 0-.94-2.897 4.964 4.964 0 0 0-4.029-2.073c-1.659 0-3.126.82-4.031 2.072a4.947 4.947 0 0 0-.94 2.897 4.973 4.973 0 0 0 4.968 4.971zM35.678 18.746V13.96l-.623.002-4.164.013.016 4.787z"%2F>\
    <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm14.119 21.929v11.56a5.463 5.463 0 0 1-5.457 5.458H16.164a5.462 5.462 0 0 1-5.457-5.458V16.165a5.462 5.462 0 0 1 5.457-5.457h17.323a5.463 5.463 0 0 1 5.458 5.457v5.764z"%2F>\
    <path d="M32.549 24.826c0 4.257-3.464 7.723-7.723 7.723s-7.722-3.466-7.722-7.723a7.67 7.67 0 0 1 .568-2.897h-4.215v11.56a2.706 2.706 0 0 0 2.706 2.704h17.323a2.707 2.707 0 0 0 2.706-2.704v-11.56h-4.217c.367.894.574 1.873.574 2.897z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.pinterest-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 412.439 412.439" fill="%23999">\
    <path d="M412.352 212.265C415.718 94.585 320.462-1.684 203.149.022 90.239 1.664-.858 94.912.006 207.831c.62 80.912 47.841 150.724 116.145 183.94 3.951 1.921 8.525-1.066 8.36-5.457-.498-13.268-.069-27.452 2.586-38.854 2.613-11.227 12.866-54.643 19.607-83.164 3.281-13.885 3.677-28.303 1.035-42.324a86.602 86.602 0 0 1-1.495-16.013c0-30.479 17.666-53.235 39.663-53.235 18.701 0 27.735 14.041 27.735 30.877 0 18.807-11.975 46.925-18.155 72.984-5.164 21.818 10.942 39.61 32.46 39.61 38.96 0 68.907-41.08 68.907-100.378 0-52.483-37.712-89.179-91.561-89.179-62.369 0-98.978 46.781-98.978 95.127 0 18.839 7.258 39.042 16.313 50.024 1.79 2.17 2.054 4.073 1.521 6.287-1.664 6.924-5.362 21.813-6.088 24.859-.957 4.013-3.177 4.863-7.33 2.932-27.379-12.744-44.494-52.769-44.494-84.919 0-69.147 50.239-132.647 144.833-132.647 76.04 0 135.134 54.184 135.134 126.599 0 75.545-47.633 136.343-113.747 136.343-17.471 0-34.12-7.14-43.908-16.821-3.01-2.977-8.099-1.621-9.173 2.474a28933.064 28933.064 0 0 0-10.814 41.284c-3.232 12.429-10.043 26.905-16.871 39.512-1.814 3.35.021 7.488 3.714 8.424 16.857 4.275 34.538 6.482 52.764 6.313 108.209-1.004 201.089-91.993 204.183-200.164z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.youtube-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 97.75 97.75" fill="%23999">\
    <path d="M25.676 52.482h3.875v20.973h3.666V52.482h3.947v-3.435H25.676zM56.674 55.046c-1.212 0-2.343.662-3.406 1.972v-7.972h-3.295v24.409h3.295v-1.762c1.103 1.361 2.233 2.013 3.406 2.013 1.311 0 2.193-.69 2.633-2.044.221-.771.334-1.982.334-3.665v-7.242c0-1.722-.113-2.924-.334-3.655-.439-1.364-1.323-2.054-2.633-2.054zm-.33 13.209c0 1.644-.482 2.454-1.434 2.454-.541 0-1.092-.259-1.643-.811V58.814c.551-.545 1.102-.803 1.643-.803.951 0 1.434.842 1.434 2.482v7.762zM43.824 69.167c-.731 1.033-1.422 1.542-2.084 1.542-.44 0-.691-.259-.771-.771-.03-.106-.03-.508-.03-1.28v-13.39h-3.296v14.379c0 1.285.111 2.153.291 2.705.331.922 1.063 1.354 2.123 1.354 1.213 0 2.457-.732 3.767-2.234v1.984h3.298V55.268h-3.298v13.899zM46.653 38.466c1.073 0 1.588-.851 1.588-2.551v-7.731c0-1.701-.515-2.548-1.588-2.548-1.074 0-1.59.848-1.59 2.548v7.731c0 1.701.516 2.551 1.59 2.551z"%2F>\
    <path d="M48.875 0C21.882 0 0 21.882 0 48.875S21.882 97.75 48.875 97.75 97.75 75.868 97.75 48.875 75.868 0 48.875 0zm5.436 22.86h3.321v13.532c0 .781 0 1.186.04 1.295.073.516.335.78.781.78.666 0 1.365-.516 2.104-1.559V22.86h3.33v18.379h-3.33v-2.004c-1.326 1.52-2.59 2.257-3.805 2.257-1.072 0-1.812-.435-2.146-1.365-.184-.557-.295-1.436-.295-2.733V22.86zm-12.578 5.993c0-1.965.334-3.401 1.042-4.33.921-1.257 2.218-1.885 3.878-1.885 1.668 0 2.964.628 3.885 1.885.698.928 1.032 2.365 1.032 4.33v6.436c0 1.954-.334 3.403-1.032 4.322-.921 1.254-2.217 1.881-3.885 1.881-1.66 0-2.957-.627-3.878-1.881-.708-.919-1.042-2.369-1.042-4.322v-6.436zm-8.906-12.277l2.622 9.685 2.519-9.685h3.735L37.26 31.251v9.989h-3.692v-9.989c-.335-1.77-1.074-4.363-2.259-7.803-.778-2.289-1.589-4.585-2.367-6.872h3.885zm42.359 58.485c-.668 2.899-3.039 5.039-5.894 5.358-6.763.755-13.604.759-20.42.755-6.813.004-13.658 0-20.419-.755-2.855-.319-5.227-2.458-5.893-5.358-.951-4.129-.951-8.638-.951-12.89s.012-8.76.962-12.89c.667-2.9 3.037-5.04 5.892-5.358 6.762-.755 13.606-.759 20.421-.755 6.813-.004 13.657 0 20.419.755 2.855.319 5.227 2.458 5.896 5.358.948 4.13.942 8.638.942 12.89s-.004 8.761-.955 12.89z"%2F>\
    <path d="M67.17 55.046c-1.686 0-2.995.619-3.947 1.864-.699.92-1.018 2.342-1.018 4.285v6.371c0 1.933.357 3.365 1.059 4.276.951 1.242 2.264 1.863 3.988 1.863 1.721 0 3.072-.651 3.984-1.972.4-.584.66-1.245.77-1.975a25.5 25.5 0 0 0 .07-2.124v-.479h-3.361c0 1.32-.043 2.053-.072 2.232-.188.881-.662 1.321-1.473 1.321-1.132 0-1.686-.84-1.686-2.522V64.96h6.592v-3.767c0-1.943-.329-3.365-1.02-4.285-.921-1.242-2.232-1.862-3.886-1.862zm1.612 7.172h-3.296v-1.683c0-1.682.553-2.523 1.654-2.523 1.09 0 1.642.842 1.642 2.523v1.683z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.tumblr-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 49.652 49.652" fill="%23999">\
    <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm8.393 36.659c-1.15.542-2.196.926-3.134 1.144-.936.217-1.944.328-3.032.328-1.233 0-1.963-.156-2.91-.467-.949-.313-1.758-.76-2.427-1.333-.672-.577-1.134-1.19-1.393-1.839-.259-.65-.389-1.593-.389-2.828v-9.466h-3.668v-3.824c1.06-.344 2.289-.837 3.044-1.48a7.366 7.366 0 0 0 1.82-2.318c.461-.899.775-2.048.948-3.438h3.839v6.241h6.241v4.82h-6.241v6.92c0 1.565-.021 2.471.146 2.914.166.44.578.899 1.027 1.164.601.358 1.28.538 2.049.538 1.367 0 2.728-.443 4.078-1.332v4.256h.002z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.twitter-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 49.652 49.652" fill="%23999">\
    <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm11.075 19.144c.011.246.017.494.017.742 0 7.551-5.746 16.255-16.259 16.255-3.227 0-6.231-.943-8.759-2.565.447.053.902.08 1.363.08 2.678 0 5.141-.914 7.097-2.446a5.72 5.72 0 0 1-5.338-3.969 5.76 5.76 0 0 0 2.58-.096 5.715 5.715 0 0 1-4.583-5.603l.001-.072a5.69 5.69 0 0 0 2.587.714 5.71 5.71 0 0 1-2.541-4.755c0-1.048.281-2.03.773-2.874a16.225 16.225 0 0 0 11.777 5.972 5.707 5.707 0 0 1-.147-1.303 5.714 5.714 0 0 1 9.884-3.91 11.406 11.406 0 0 0 3.63-1.387 5.74 5.74 0 0 1-2.516 3.162 11.36 11.36 0 0 0 3.282-.899 11.494 11.494 0 0 1-2.848 2.954z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}

.facebook-share-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 49.652 49.652" fill="%23BBB">\
    <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zM31 25.7h-4.039v14.396h-5.985V25.7h-2.845v-5.088h2.845v-3.291c0-2.357 1.12-6.04 6.04-6.04l4.435.017v4.939h-3.219c-.524 0-1.269.262-1.269 1.386v2.99h4.56L31 25.7z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.pinterest-share-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 412.439 412.439" fill="%23BBB">\
    <path d="M412.352 212.265C415.718 94.585 320.462-1.684 203.149.022 90.239 1.664-.858 94.912.006 207.831c.62 80.912 47.841 150.724 116.145 183.94 3.951 1.921 8.525-1.066 8.36-5.457-.498-13.268-.069-27.452 2.586-38.854 2.613-11.227 12.866-54.643 19.607-83.164 3.281-13.885 3.677-28.303 1.035-42.324a86.602 86.602 0 0 1-1.495-16.013c0-30.479 17.666-53.235 39.663-53.235 18.701 0 27.735 14.041 27.735 30.877 0 18.807-11.975 46.925-18.155 72.984-5.164 21.818 10.942 39.61 32.46 39.61 38.96 0 68.907-41.08 68.907-100.378 0-52.483-37.712-89.179-91.561-89.179-62.369 0-98.978 46.781-98.978 95.127 0 18.839 7.258 39.042 16.313 50.024 1.79 2.17 2.054 4.073 1.521 6.287-1.664 6.924-5.362 21.813-6.088 24.859-.957 4.013-3.177 4.863-7.33 2.932-27.379-12.744-44.494-52.769-44.494-84.919 0-69.147 50.239-132.647 144.833-132.647 76.04 0 135.134 54.184 135.134 126.599 0 75.545-47.633 136.343-113.747 136.343-17.471 0-34.12-7.14-43.908-16.821-3.01-2.977-8.099-1.621-9.173 2.474a28933.064 28933.064 0 0 0-10.814 41.284c-3.232 12.429-10.043 26.905-16.871 39.512-1.814 3.35.021 7.488 3.714 8.424 16.857 4.275 34.538 6.482 52.764 6.313 108.209-1.004 201.089-91.993 204.183-200.164z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.youtube-share-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 97.75 97.75" fill="%23BBB">\
    <path d="M25.676 52.482h3.875v20.973h3.666V52.482h3.947v-3.435H25.676zM56.674 55.046c-1.212 0-2.343.662-3.406 1.972v-7.972h-3.295v24.409h3.295v-1.762c1.103 1.361 2.233 2.013 3.406 2.013 1.311 0 2.193-.69 2.633-2.044.221-.771.334-1.982.334-3.665v-7.242c0-1.722-.113-2.924-.334-3.655-.439-1.364-1.323-2.054-2.633-2.054zm-.33 13.209c0 1.644-.482 2.454-1.434 2.454-.541 0-1.092-.259-1.643-.811V58.814c.551-.545 1.102-.803 1.643-.803.951 0 1.434.842 1.434 2.482v7.762zM43.824 69.167c-.731 1.033-1.422 1.542-2.084 1.542-.44 0-.691-.259-.771-.771-.03-.106-.03-.508-.03-1.28v-13.39h-3.296v14.379c0 1.285.111 2.153.291 2.705.331.922 1.063 1.354 2.123 1.354 1.213 0 2.457-.732 3.767-2.234v1.984h3.298V55.268h-3.298v13.899zM46.653 38.466c1.073 0 1.588-.851 1.588-2.551v-7.731c0-1.701-.515-2.548-1.588-2.548-1.074 0-1.59.848-1.59 2.548v7.731c0 1.701.516 2.551 1.59 2.551z"%2F>\
    <path d="M48.875 0C21.882 0 0 21.882 0 48.875S21.882 97.75 48.875 97.75 97.75 75.868 97.75 48.875 75.868 0 48.875 0zm5.436 22.86h3.321v13.532c0 .781 0 1.186.04 1.295.073.516.335.78.781.78.666 0 1.365-.516 2.104-1.559V22.86h3.33v18.379h-3.33v-2.004c-1.326 1.52-2.59 2.257-3.805 2.257-1.072 0-1.812-.435-2.146-1.365-.184-.557-.295-1.436-.295-2.733V22.86zm-12.578 5.993c0-1.965.334-3.401 1.042-4.33.921-1.257 2.218-1.885 3.878-1.885 1.668 0 2.964.628 3.885 1.885.698.928 1.032 2.365 1.032 4.33v6.436c0 1.954-.334 3.403-1.032 4.322-.921 1.254-2.217 1.881-3.885 1.881-1.66 0-2.957-.627-3.878-1.881-.708-.919-1.042-2.369-1.042-4.322v-6.436zm-8.906-12.277l2.622 9.685 2.519-9.685h3.735L37.26 31.251v9.989h-3.692v-9.989c-.335-1.77-1.074-4.363-2.259-7.803-.778-2.289-1.589-4.585-2.367-6.872h3.885zm42.359 58.485c-.668 2.899-3.039 5.039-5.894 5.358-6.763.755-13.604.759-20.42.755-6.813.004-13.658 0-20.419-.755-2.855-.319-5.227-2.458-5.893-5.358-.951-4.129-.951-8.638-.951-12.89s.012-8.76.962-12.89c.667-2.9 3.037-5.04 5.892-5.358 6.762-.755 13.606-.759 20.421-.755 6.813-.004 13.657 0 20.419.755 2.855.319 5.227 2.458 5.896 5.358.948 4.13.942 8.638.942 12.89s-.004 8.761-.955 12.89z"%2F>\
    <path d="M67.17 55.046c-1.686 0-2.995.619-3.947 1.864-.699.92-1.018 2.342-1.018 4.285v6.371c0 1.933.357 3.365 1.059 4.276.951 1.242 2.264 1.863 3.988 1.863 1.721 0 3.072-.651 3.984-1.972.4-.584.66-1.245.77-1.975a25.5 25.5 0 0 0 .07-2.124v-.479h-3.361c0 1.32-.043 2.053-.072 2.232-.188.881-.662 1.321-1.473 1.321-1.132 0-1.686-.84-1.686-2.522V64.96h6.592v-3.767c0-1.943-.329-3.365-1.02-4.285-.921-1.242-2.232-1.862-3.886-1.862zm1.612 7.172h-3.296v-1.683c0-1.682.553-2.523 1.654-2.523 1.09 0 1.642.842 1.642 2.523v1.683z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.tumblr-share-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 49.652 49.652" fill="%23BBB">\
    <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm8.393 36.659c-1.15.542-2.196.926-3.134 1.144-.936.217-1.944.328-3.032.328-1.233 0-1.963-.156-2.91-.467-.949-.313-1.758-.76-2.427-1.333-.672-.577-1.134-1.19-1.393-1.839-.259-.65-.389-1.593-.389-2.828v-9.466h-3.668v-3.824c1.06-.344 2.289-.837 3.044-1.48a7.366 7.366 0 0 0 1.82-2.318c.461-.899.775-2.048.948-3.438h3.839v6.241h6.241v4.82h-6.241v6.92c0 1.565-.021 2.471.146 2.914.166.44.578.899 1.027 1.164.601.358 1.28.538 2.049.538 1.367 0 2.728-.443 4.078-1.332v4.256h.002z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}
.twitter-share-icon {
    background-image: url('data:image/svg+xml;utf8,\
    <svg xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox="0 0 49.652 49.652" fill="%23BBB">\
    <path d="M24.826 0C11.137 0 0 11.137 0 24.826c0 13.688 11.137 24.826 24.826 24.826 13.688 0 24.826-11.138 24.826-24.826C49.652 11.137 38.516 0 24.826 0zm11.075 19.144c.011.246.017.494.017.742 0 7.551-5.746 16.255-16.259 16.255-3.227 0-6.231-.943-8.759-2.565.447.053.902.08 1.363.08 2.678 0 5.141-.914 7.097-2.446a5.72 5.72 0 0 1-5.338-3.969 5.76 5.76 0 0 0 2.58-.096 5.715 5.715 0 0 1-4.583-5.603l.001-.072a5.69 5.69 0 0 0 2.587.714 5.71 5.71 0 0 1-2.541-4.755c0-1.048.281-2.03.773-2.874a16.225 16.225 0 0 0 11.777 5.972 5.707 5.707 0 0 1-.147-1.303 5.714 5.714 0 0 1 9.884-3.91 11.406 11.406 0 0 0 3.63-1.387 5.74 5.74 0 0 1-2.516 3.162 11.36 11.36 0 0 0 3.282-.899 11.494 11.494 0 0 1-2.848 2.954z"%2F>\
    <%2Fsvg>');
    width: 1em;
    height: 1em;
}

/** IMAGE */
.image {
    background-color: #ddd;
}
.image > span > img {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.video {
    background-color: #666;
}
.video > div > iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.aspect-ratio .image > span,
.aspect-ratio .video > div,
.aspect-ratio .frame,
.image.aspect-ratio > span,
.video.aspect-ratio > div,
.frame.aspect-ratio {
    display: block;
    width: 100%;
    height: 0;
}

/** Add your aspect ratios */
.aspect-ratio.__16x9 .image > span,
.aspect-ratio.__16x9 .video > div,
.aspect-ratio.__16x9 .frame,
.image.aspect-ratio.__16x9 > span,
.video.aspect-ratio.__16x9 > div,
.frame.aspect-ratio.__16x9 {
    padding-bottom: calc(900% / 16);
}
.aspect-ratio.__3x2 .image > span,
.aspect-ratio.__3x2 .video > div,
.aspect-ratio.__3x2 .frame,
.image.aspect-ratio.__3x2 > span,
.video.aspect-ratio.__3x2 > div,
.frame.aspect-ratio.__3x2 {
    padding-bottom: calc(200% / 3);
}
.aspect-ratio.__3x1 .image > span,
.aspect-ratio.__3x1 .video > div,
.aspect-ratio.__3x1 .frame,
.image.aspect-ratio.__3x1 > span,
.video.aspect-ratio.__3x1 > div,
.frame.aspect-ratio.__3x1 {
    padding-bottom: calc(100% / 3);
}
.aspect-ratio.__4x1 .image > span,
.aspect-ratio.__4x1 .video > div,
.aspect-ratio.__4x1 .frame,
.image.aspect-ratio.__4x1 > span,
.video.aspect-ratio.__4x1 > div,
.frame.aspect-ratio.__4x1 {
    padding-bottom: calc(100% / 4);
}
.aspect-ratio.__5x1 .image > span,
.aspect-ratio.__5x1 .video > div,
.aspect-ratio.__5x1 .frame,
.image.aspect-ratio.__5x1 > span,
.video.aspect-ratio.__5x1 > div,
.frame.aspect-ratio.__5x1 {
    padding-bottom: calc(100% / 5);
}
.aspect-ratio.__1x1 .image > span,
.aspect-ratio.__1x1 .video > div,
.aspect-ratio.__1x1 .frame,
.image.aspect-ratio.__1x1 > span,
.video.aspect-ratio.__1x1 > div,
.frame.aspect-ratio.__1x1 {
    padding-bottom: calc(100% / 1);
}
@media screen and (max-width: 640px) {
    .aspect-ratio.__sm-16x9 .image > span,
    .aspect-ratio.__sm-16x9 .video > div,
    .aspect-ratio.__sm-16x9 .frame,
    .image.aspect-ratio.__sm-16x9 > span,
    .video.aspect-ratio.__sm-16x9 > div,
    .frame.aspect-ratio.__sm-16x9 {
        padding-bottom: calc(900% / 16);
    }
    .aspect-ratio.__sm-3x2 .image > span,
    .aspect-ratio.__sm-3x2 .video > div,
    .aspect-ratio.__sm-3x2 .frame,
    .image.aspect-ratio.__sm-3x2 > span,
    .video.aspect-ratio.__sm-3x2 > div,
    .frame.aspect-ratio.__sm-3x2 {
        padding-bottom: calc(200% / 3);
    }
    .aspect-ratio.__sm-3x1 .image > span,
    .aspect-ratio.__sm-3x1 .video > div,
    .aspect-ratio.__sm-3x1 .frame,
    .image.aspect-ratio.__sm-3x1 > span,
    .video.aspect-ratio.__sm-3x1 > div,
    .frame.aspect-ratio.__sm-3x1 {
        padding-bottom: calc(100% / 3);
    }
    .aspect-ratio.__sm-4x1 .image > span,
    .aspect-ratio.__sm-4x1 .video > div,
    .aspect-ratio.__sm-4x1 .frame,
    .image.aspect-ratio.__sm-4x1 > span,
    .video.aspect-ratio.__sm-4x1 > div,
    .frame.aspect-ratio.__sm-4x1 {
        padding-bottom: calc(100% / 4);
    }
    .aspect-ratio.__sm-5x1 .image > span,
    .aspect-ratio.__sm-5x1 .video > div,
    .aspect-ratio.__sm-5x1 .frame,
    .image.aspect-ratio.__sm-5x1 > span,
    .video.aspect-ratio.__sm-5x1 > div,
    .frame.aspect-ratio.__sm-5x1 {
        padding-bottom: calc(100% / 5);
    }
}

/** PARAGRAPH */
.paragraph * {
    max-width: 100% !important;
}
.paragraph img {
    object-fit: contain;
    height: auto !important;
}
.paragraph ul,
.paragraph ol {
    padding-left: 2em;
    font-size: 12px;
}
.paragraph {
    line-height: 1.5;
    font-size: 13px;
}
.paragraph > :not(:first-child) {
    margin-top: 1em;
}
.paragraph h2 {
    font-size: 16px;
    font-weight: normal;
}
.paragraph h3 {
    font-size: 14px;
    font-weight: normal;
}
.paragraph h4 {
    font-size: 13px;
    font-weight: normal;
}
.paragraph a {
    color: #00B0F0;
}
.paragraph a:hover {
    border-bottom: 1px solid #aaf;
}
.paragraph a:active {
    opacity: 0.7;
    border-bottom: none;
}

.hidden {
    display: none !important;
}

@media screen and (min-width: 781px) {
    .lg-hidden {
        display: none !important;
    }
    .md-only {
        display: none !important;
    }
}

@media screen and (max-width: 780px) {
    .lg-only {
        display: none !important;
    }
}

@media screen and (min-width: 641px) and (max-width: 780px) {
    .md-hidden {
        display: none !important;
    }
}

@media screen and (min-width: 641px) {
    .sm-only {
        display: none !important;
    }
}

@media screen and (max-width: 640px) {
    .md-only {
        display: none !important;
    }
    .sm-hidden {
        display: none !important;
    }
}


/**
 * LOADING
 */
.loading:before,
.loading-opacity:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
}
.loading-opacity:before {
    background-color: rgba(255, 255, 255, 0.8);
}
.loading:after,
.loading-opacity:after {
    content: "";
    display: block;
    position: absolute;
    z-index: 101;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url('data:image/svg+xml;utf8,\
        <svg version="1.1" xmlns="http:%2F%2Fwww.w3.org%2F2000%2Fsvg" xmlns:xlink="http:%2F%2Fwww.w3.org%2F1999%2Fxlink"\
        width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">\
        <path fill="%23F7B223" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">\
        <animateTransform attributeType="xml"\
        attributeName="transform"\
        type="rotate"\
        from="0 25 25"\
        to="360 25 25"\
        dur="0.6s"\
        repeatCount="indefinite"%2F>\
        <%2Fpath>\
        <%2Fsvg>');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 1.5em;
    min-width: 1.5em;
    max-width: 3em;
    width: 10%;
    height: 100%;
}